body {
	background-color: #eee;
	color: #222;
	font: 18px "Lucida Grande","Cambria",Arial, "等线", sans-serif;
}

body > header {
	text-align: center;
	margin: auto;
	padding: 1em;
}

article {
	background-color: #fff;
	max-width: 800px;
	padding: 0.1em 1em;
	display: block;
	margin: auto;
}

footer {
	text-align: center;
	margin: auto;
}